{% gimmelist article from articles|limit(5)|order('pageViews', 'desc')|dateRange('now', '-1 year') ignoreContext %}

    <h4 class="accordion__sectionHeadline"><a href="{{ url(article) }}">{{ article.title }}</a></h4>


{% endgimmelist %}
