{% extends 'knp_menu.html.twig' %}

{% block list %}


            <div class="row">
{#                {% gimmelist route from routes %}#}

                    {% for route in gimmelist routes %}

                <div class="col-6 col-md">
                    <h5>{{ route.name }}</h5>
                </div>
{#                    <ul class="list-unstyled text-small">#}

{#                        {% gimmelist subRoute from routes without {route.name:  "Agbs" } with {parent: route.name} %}#}


{#                            <li><a class="text-muted" href={{ url(subRoute) }}>{{ subRoute.name }}</a></li>#}

{#                        {% endgimmelist %}#}

{#                    </ul>#}
{#                </div>#}
                    {% endfor %}


{#                {% endgimmelist %}#}

            </div>




{% endblock %}
