{% extends 'knp_menu.html.twig' %}

{% block list %}


    <div class="row">

        {#      get the available routes          #}
        {% gimmelist route from routes %}


        {% gimmelist s from routes with {parent: route.name} %}



            {#      exclude sub footer          #}
            {% if (route.name != "Agbs") %}


                <div class="col-6 col-md">
                    <h5>{{ route.name }}</h5>

                    <ul class="list-unstyled text-small">

                        {% gimmelist subRoute from routes with {parent: route.name} %}


                            <li><a class="text-muted" href={{ url(subRoute) }}>{{ subRoute.name }}</a></li>

                        {% endgimmelist %}

                    </ul>
                </div>
            {% endif %}

        {% endgimmelist %}

        {% endgimmelist %}

    </div>




{% endblock %}
