<div class="secRoutes">
    <div class="container" style="background: #212126;">
        <div class="row">

            <nav class="staticNav col-sm-8 col-md-8 col-xs-12" role="navigation">

                <ul id="secLine" class="d-flex justify-content-around">
                    {% gimmelist route from routes with {parent: "Agbs"} %}
                        <li id="routeItem">{{ route.name }}</li>
                    {% endgimmelist %}
                </ul>
            </nav>
            <p class="footer__text col-sm-4 col-md-4 col-xs-12">© 2019 BildFrau All Rights Reserved</p>


        </div>
    </div>
</div>



{#    <div class="col-12 d-flex">#}
{#        <div class="p-2">#}

{#            <div class="categoryItems col-12 col-sm-10 d-none d-sm-block">#}

{#                <ul id="secLine" class="d-flex justify-content-around">#}
{#                    {% gimmelist route from routes with {parent: "Agbs"} %}#}
{#                        <li id="routeItem">{{ route.name }}</li>#}
{#                    {% endgimmelist %}#}
{#                </ul>#}

{#            </div>#}

{#        </div>#}


{#        <p class="footer__text col-sm-4 col-md-4 col-xs-12">Copyright something</p>#}
{#    </div>#}


<style>

    @media (min-width: 768px){
        .footer .footer__text {
            text-align: right;
        }
    }


    .staticNav ul {
        padding-left: 0;
        margin: 5px 0;
        list-style: none;
    }
    .footer .footer__bottom {
        background: #212126;
        padding: 15px 0;
    }

    .container, .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer__text {
        font-size: 1.4rem;
        text-align: left;
        margin: 5px 0;
    }

    li#routeItem {
        font-size: 1.4rem;
        opacity: .5;
        display: inline-block;
        width: auto;
        margin-right: 20px;
    }

    .ml-auto {
        margin-left: 0 !important;
    }

    .secRoutes {
        position: absolute;
        left: 0;
        width: 100%;
        background: #212126;
        padding: 15px 0;
    }

    ul#secLine li {
        display: inline;

    }


</style>