<div class="row">

    <div class="categoryItems col-12 col-sm-10 d-none d-sm-block">

        <ul>
            {% gimmelist route from routes with {parent: 1} %}
<li>{{ route.name }}
                {% endgimmelist %} </ul>

    </div>

</div>


{#<ul>#}
{#    {% gimmelist item from contentListItems with { parent: "Agbs" } %} <li>{{ item.name }}</li> <!-- Article title -->#}
{#</ul>#}
