<div class="secRoutes">

    <div class="categoryItems col-12 col-sm-10 d-none d-sm-block">

        <ul id="secLine">
            {% gimmelist route from routes with {parent: "Agbs"} %}
                <li>{{ route.name }}</li>
                {% endgimmelist %}
        </ul>

    </div>

</div>


<style>

    .secRoutes{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #212126;
        padding: 15px 0;
    }

    ul#secLine li {
        display: inline;

    }


</style>