<div class="row secRoutes">

    <div class="categoryItems col-12 col-sm-10 d-none d-sm-block">

        <ul id="secLine">
            {% gimmelist route from routes with {parent: "Agbs"} %}
                <li>{{ route.name }}</li>
                {% endgimmelist %}
        </ul>

    </div>

</div>


<style>

    .secRoutes{
        position: absolute;
        width: 100%;
    }

    ul#secLine li {
        display: inline;

    }


</style>