
<div class="secRoutes">


    <div class="d-flex">
        <div class="p-2">

            <div class="categoryItems col-12 col-sm-10 d-none d-sm-block">




                <ul class="list-inline d-flex justify-content-around">

                    {% gimmelist route from routes with {parent: "Agbs"} %}
                        <li>{{ route.name }}</li>
                        <li class="list-inline-item">{{ route.name }}</li>

                    {% endgimmelist %}
                </ul>

            </div>

        </div>


        <div class="ml-auto p-2">Copyright something</div>
    </div>

   

</div>


<style>

    .secRoutes{
        position: absolute;
        left: 0;
        width: 100%;
        background: #212126;
        padding: 15px 0;
    }

    ul#secLine li {
        display: inline;

    }


</style>