{% extends 'knp_menu.html.twig' %}

{% block list %}
    {#    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}#}
    {#        {% import _self as knp_menu %}#}
    {#        <div class="navigation">#}
    {#            <nav class="container">#}
    {#            <div id="header" class="navigation__header okayNav-header">#}
    {#                    <nav role="navigation" id="nav-main" class="okayNav">#}
    {#                        <ul>#}
    {#                    {{ block('children') }}#}
    {#                        </ul>#}
    {#                    </nav>#}
    {#                </div><!-- /header -->#}
    {#            </nav>#}
    {#        </div>#}





        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between" id="navbarsExample08">
                <a class="py-2" href="#">
                    Bild Der Frau
                </a>
                <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
            </div>
        </nav>

    {#    {% endif %}#}
{% endblock %}
