{% cache 'contentlist' ~ contentList.id { time: contentList.cacheLifeTime ?: 0 } %}
{# dump(contentList) #}

{% gimmelist item from contentListItems|limit(7) with {contentListName: "Top news"} %}
    {% if loop.first %}
        {% include 'partials/mainArticle.html.twig' with { 'article': item.content } %}
        <div class="articleGrid row">
    {% else %}
        {% include 'partials/articleGrid__item.html.twig' with { 'article' : item.content, 'class' : 'articleGrid__item--twoColumns col-md-6 col-sm-6 col-xs-12' } %}
    {% endif %}
    {% if loop.last %}
        </div>
    {% endif %}
{% endgimmelist %}

{% endcache %}
