
{% extends 'base.html.twig' %}

{% block body %}

	{% dump searchResults %}

	<main class="container">


				{% set itemsPerPage, currentPage = 8, app.request.get('page', 1) %} {% set start = ((currentPage - 1) * itemsPerPage) %}
				{% gimmelist article from searchResults|limit(app.request.get('limit', 10))|order(app.request.get('field', 'publishedAt'), app.request.get('direction', 'desc')) with {
					term: app.request.get('q', ''),
					page: app.request.get('page', 1),
					routes: app.request.get('route', []),
					term: app.request.get('q', ''),
					publishedBefore: app.request.get('publishedBefore'),
					publishedAfter: app.request.get('publishedAfter'),
					publishedAt: app.request.get('publishedAt'),
					sources: app.request.get('source', []),
					authors: app.request.get('author', []),
					statuses: app.request.get('status', []),
					metadata: app.request.get('metadata', []),
					} %}

				{% dump article %}




					<div class="col-md-12">
						<div class="card flex-md-row mb-4 shadow-sm h-md-250">
							<div class="card-body d-flex flex-column align-items-start">
								<strong class="d-inline-block mb-2 text-primary">World</strong>
								<h3 class="mb-0">
									<a class="text-dark" href="#">{{ article.title }}</a>
								</h3>
								<div class="mb-1 text-muted">Nov 12</div>
								<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
								<a href="#">Continue reading</a>
							</div>
							<img class="card-img-right flex-auto d-none d-lg-block" src="https://via.placeholder.com/150" alt="Card image cap">
						</div>
					</div>





					{% if loop.last %}
{#				{% include '_tpl/pagination.html.twig' with { currentFilters: {}|merge(app.request.query.all()), currentPage: currentPage,#}
{#					paginationPath: gimme.route,#}
{#					lastPage: (loop.totalLength/itemsPerPage)|round(0, 'ceil') } only %}#}
				Showing {{ searchResults|length }} out of {{ loop.totalLength }} articles. {% endif %}
				{% endgimmelist %}


{#<script>#}
{#  (function() {#}
{#    var cx = '001959388472599317396:kn-x-ndaexq';#}
{#    var gcse = document.createElement('script');#}
{#    gcse.type = 'text/javascript';#}
{#    gcse.async = true;#}
{#    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;#}
{#    var s = document.getElementsByTagName('script')[0];#}
{#    s.parentNode.insertBefore(gcse, s);#}
{#  })();#}
{#</script>#}
{#<gcse:searchresults-only></gcse:searchresults-only>#}

			</div>
		</div>
	</main>

{% endblock %}
