.mainArticle
  position: relative
  margin-bottom: 20px
  border-bottom: 1px dotted #cccccc
  padding-bottom: 20px
  +sm
    margin-bottom: 30px
    border-bottom: none
    padding-bottom: 0px
  &--section
    padding-bottom: 30px
    display: flex
    flex-direction: column-reverse
    @media only screen and (min-width: 768px)
      display: block

  .mainArticle__image
    z-index: 1
    margin: 0px -15px
    +sm
      margin: 0px
    img
      width: 100%
      height: auto
    a
      position: relative
      display: block

  .mainArticle__text
    font-size: 1.6rem
    +sm
      position: absolute;
      left: 55px;
      right: 35px;
      bottom: 30px;
      max-width: 690px;
      text-shadow: 1px 1px 1px rgba(0,0,0,.8), -1px -1px 4px rgba(0,0,0,.8);
      max-width: 690px
    a
      color: #fff;

  .mainArticle__kicker
    display: none;
    font-family: $fontSansSerif
    font-size: 1.4rem
    font-weight: 700
    color: #ea545f
    text-transform: uppercase
    line-height: 140%;
    margin-top: 0 0 2px;
    @media only screen and (min-width: 768px)
      display: block;
      margin: 10px 0 2px;
    &--section
      margin-top: 0px

  .mainArticle__headline
    @include letterSpacing()
    font-size: 3.9rem
    font-weight: 700
    text-transform: uppercase
    margin: 12px 0;
    text-shadow: 1px 1px 1px #000;
    a
      color: #fff;
    &:hover
      color: $colorGrey
    &--small
      font-size: 3.2rem

  .mainArticle__teaser
    p
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,.8), -1px -1px 4px rgba(0,0,0,.8);
      font-weight: 700

