.mainArticle
  position: relative
  margin-bottom: 20px
  border-bottom: 1px dotted #cccccc
  padding-bottom: 20px
  +sm
    margin-bottom: 30px
    border-bottom: none
    padding-bottom: 0px

  .mainArticle__image
    padding-bottom: 51%
    z-index: 1
    height: 0px
    margin: 0px -15px
    +sm
      padding-bottom: 48.4%
      margin: 0px
    &--small
      padding-bottom: 65.1%
      +sm
        padding-bottom: 62.3%
    img
      width: 100%
      height: auto
    a
      position: relative
      display: block

  .mainArticle__text
    font-size: 1.6rem
    +sm
      max-width: 690px

  .mainArticle__kicker
    font-family: $fontSansSerif
    font-size: 1.4rem
    font-weight: 600
    color: #ea545f
    display: block
    text-transform: uppercase
    margin-top: 10px
  .mainArticle__headline
    @include letterSpacing()
    font-size: 3.4rem
    font-weight: 600
    margin: 10px 0px
    &--small
      font-size: 3.2rem
