<ul class="list-inline ">

    {% gimmelist route from routes with {parent: "Agbs"} %}

        <li class="list-inline-item legal align-middle">
            <a href={{ url(route) }}>
                {{ route.name }}
            </a>
        </li>

    {% endgimmelist %}

</ul>