<ul class="list-inline float-left pt-3">

    {% gimmelist route from routes with {parent: "Agbs"} %}


        <li id="routeItem">
            <a href={{ url(route) }}>
                {{ route.name }}
            </a>
        </li>



    {% endgimmelist %}

</ul>
<p class="float-right mt-3 pr-5">© Company 2014</p>



<style>



    .staticNav ul {
        padding-left: 0;
        margin: 5px 0;
        list-style: none;
    }

    .staticNav ul li {
        font-size: 1.4rem;
        opacity: .5;
        display: inline-block;
        width: auto;
        margin-right: 20px;
    }


    li#routeItem {
        font-size: 1.4rem;
        opacity: .5;
        display: inline-block;
        width: auto;

        clear: both;
        overflow: hidden;
        white-space: nowrap;
    }

    li#routeItem a {
        background-color: transparent;
    }

    li#routeItem:hover a {
        color: #FFFFFF;
    }


    ul#secLine li {
        display: inline;

    }


</style>