<ul class="list-inline float-left pt-3">

    {% gimmelist route from routes with {parent: "Agbs"} %}


        <li class="list-inline-item">
            <a href={{ url(route) }}>
                {{ route.name }}
            </a>
        </li>



    {% endgimmelist %}

</ul>
<p class="float-right mt-3 pr-5">© Company 2014</p>



<style>




</style>