<div class="header__search col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center mt-3">
        <label class="searchBox" for="searchInp" >
            <form id="search" name="search_articles" method="GET" action="/app_dev.php/search">
                <input id="searchInp" type="text" name="q" value="">
            </form>
        </label>
        <p>Search</p>
</div>

<script>

    const urlParams = new URLSearchParams(window.location.search);
    const queryParam = urlParams.get('q');
    document.getElementById("searchInp").value = queryParam;

</script>