<div class="header__search verticalMiddle col-4 p-0">

    <form id="search" name="search_articles" method="GET" action="/app_dev.php/search">
        <input id="searchInp" type="text" name="q" placeholder="search" value="">
        <button type="submit">Submit</button>
    </form>


</div>

<script>

    const urlParams = new URLSearchParams(window.location.search);
    const queryParam = urlParams.get('q');
    document.getElementById("searchInp").value = queryParam;

</script>