<div class="header__search col-4 d-flex justify-content-center align-items-center">
        <label class="searchBox" for="searchInp" >
            <form id="search" name="search_articles" method="GET" action="/app_dev.php/search">
                <input id="searchInp" type="text" name="q" value="">
            </form>
            <p>Search</p>
        </label>
</div>

<script>

    const urlParams = new URLSearchParams(window.location.search);
    const queryParam = urlParams.get('q');
    document.getElementById("searchInp").value = queryParam;

</script>