{#<form class="header__search col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center mt-3">#}
{#        <label class="searchBox" for="searchInp" >#}
{#            <form id="search" name="search_articles" method="GET" action="/app_dev.php/search">#}
{#                <input id="searchInp" type="text" name="q" value="">#}
{#            </form>#}
{#        </label>#}
{#        <p>Search</p>#}

<form id="search" class="form__group" name="search_articles" method="GET" action="/app_dev.php/search">
    <input type="text" class="form__input" placeholder="" id="name" required>
    <label for="name" class="form__label">Full name</label>
</form>


<script>

    const urlParams = new URLSearchParams(window.location.search);
    const queryParam = urlParams.get('q');
    document.getElementById("searchInp").value = queryParam;

</script>


<style>


    .form__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga(#fff, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        -webkit-transition: all .3s;
        transition: all .3s
    }

    @media only screen and (max-width: 56.25em) {
        .form__input {
            width: 100%
        }
    }

    .form__input:focus {
        outline: none;
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #55c57a
    }

    .form__input:focus:invalid {
        border-bottom: 3px solid #ff7730
    }

    .form__input::-webkit-input-placeholder {
        color: #999
    }

    .form__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        -webkit-transition: all .3s;
        transition: all .3s
    }

    .form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem)
    }

</style>